body {
  color: $textblue;
  line-height: $base-line-height;
  /*background-color: $dark-gray;*/
  background-color: #303333;
}


pre {
  line-height: 1.6em;
}

.wrapper {
  @include outer-container;
  @include border-style(solid);
  @include border-width(0 10px);
  @include border-color(#423838);
}

header {
  @include clearfix;
  background-color: #000;
  background-image: url('../images/header-band.jpg');
  background-repeat: no-repeat;
  background-position: 50% 10%;
  height: 160px;

  h1 {
    color: #fff;
    font-family: "helvetica Neue", "Helvetica", sans-serif;
    font-weight: 100;
    line-height: $base-line-height;
    margin: 0;
  }
  h1 > a { 
    color: #fff;
  }

  p { 
    padding: 0;
    margin: 0;
  }
}

.nav-wrapper {
  padding: 0 17px;
  background: #423838;
}

section { 
  @include clearfix;
  padding: 0.5em 1em;
  text-align: left;

  &.main-content {
    @include outer-container;
    
    background-color: white;
    min-height: 20em;

    div {
      
      /* height: 100%; */
    }
  }
}

article {
}

footer {
  @include outer-container;
  padding: 0.5em 0em;
  display: block;
  clear: both;
  
  .footer-content {
    background-color: $light-gray;
    
    p { font-size: .8em;  text-align: center; }
  }
}

/* ************ PAGE STYLES *********** */
article {
  div {
    &.album-header {
      @include clearfix;

      .album-header-img {
        img {
          width: 250px; 
          margin: 0 10px 10px 0;
        }
      }

      .album-header-content {
          @include clearfix;
          h3 {
            margin-top: 20px;
          }
      }
    }

    &.album-purchase {
      @include clearfix;
      div {
          &.ordercd {
            /* overridden in desktop css */
          }

          &.itunes {
            /* overridden in destop css */
          }

          &.album-info {
            @include clearfix;
          }
      }
        
      table {
          tr {
            border: 0;
          }
          td {
            border: 1px solid #ccc;
            padding: 8px 4px;

            &.special {
              font-weight: bold;
              border: 1px dashed red;
              color: green;
            }
          }
        }
    }

    &.album-content {
      @include clearfix;
      margin-top: 20px;
      
    }

    .album-sidebar {
      @include span-columns(4);
    }
  }
}


.blog-home-content {
  @include span-columns(8);

}

.blog-home-sidebar {
  @include span-columns(4);
}

.blog-home-blurbs {
  h2 {
    color: blue;
  }

  .read-more {
    float: right;
  }

}
.blog-home-blurbs h2 {
  font-size: 1.6em;
}
.blog-home-blurbs h2 > a {
  color: $headingcolor;
}


.the-band { 

    .member-profile {
      @include row();

      img {
        float: right;
        margin-right: 0;
        margin-top: 0;
        margin-left: 20px;
      }

      margin-bottom: 15px;
    }

    .member-profile-alt {
      @include row();
      img {
        float: left;
        margin-left: 0;
        margin-top: 0;
        margin-right: 20px;
      }
      margin-bottom: 15px;
    }
}
